.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.player {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  margin: 2rem auto;
  height: 5rem;
  width: 10rem;
  border-radius: .5em;
  border: none;
  background-color: #4ECCA3;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: #393E46;
}

.btn:hover {
  cursor: grab;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  color: #232931;
}